body{
    text-align: center;
    color: aqua;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#cabecera{
    background-color:#192AAB;
    text-align: center;
    border: 10px solid #192AAB;
    border-radius:  10px;
    box-shadow: 1px 3px 29px 1px #000;
}

#container h1{
   font-size: 20px; 
}